body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(97, 136, 180);  */
    font-family: Futura;
   
    
}
/*Le menu*/
header {
    z-index: inherit 1;
 
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(90, 142, 194);
    position: sticky;
    top: 0px;
}

nav li {
    float : left;
    width: 15%;
    text-align: center;
}

nav ul {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: inline-block;
    
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}



nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 60px;
}

/* partie avec logo et numéro */
.carrousel {
    display: flex;
    display: inline;
}

.logo {
    
     position: absolute;
     padding-top: 15%;
     padding-left: 25%;

}

/* carrousel de photos presentation */
.carrousel {

}
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    z-index: 3;

    justify-content: center;
    align-items: center;

  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    margin-left: -50%;
    
 
    
    
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }



.qui {
    display: flex;
    flex-wrap: wrap;

}
#intro_qui {
    font-size: 50%;
}

#intro {
    
    max-width: 35%;
}

/* section ou sommes nous */

.ou {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: flex-start;
}



.chiffres {

}

.confiance {
    background-color: white;
}



.picto {
    max-height: 100px;
    display: flex;
    justify-content: space-around;
}

/* CSS pour les tarifs */

.tarifs {
    background-color: steelblue;
    color: white;
}

.vehicule {
    display: flex;
    flex-direction: row;
    background: url(/Users/trystansimplon/Documents/J_ai_pas_de_voiture_front/pics/voiture2.jpg);
}