body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(97, 136, 180);  */
    font-family: Futura;
   
    
}
/*Le menu*/
header {
    
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(90, 142, 194);
    position: sticky;
    top: 0px;
}

nav li {
    float : left;
    width: 15%;
    text-align: center;
}

nav ul {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: inline-block;
    
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}



nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 60px;
}

/* partie avec logo et numéro */
.logo {
    
    display: flex;
    justify-content: center;
    position: relative;
    z-index:1;
}

/* carrousel de photos presentation */

/* .carrousel {
    margin-bottom: 32em;
    display: flex;
    position: relative;
    z-index:2;
    max-width: 20%;
  } */
.qui {
    display: flex;
    flex-wrap: wrap;

}
#intro_qui {
    font-size: 50%;
}

#intro {
    
    max-width: 35%;
}



.ou {
    background-color: steelblue;
    color: white;
}

.chiffres {

}

.confiance {
    background-color: white;
}

.tarifs {
    background-color: steelblue;
    color: white;
}

.picto {
    max-height: 100px;
    display: flex;
    justify-content: space-around;
}

